In [13]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('world-happiness-report-2019.csv')

In [4]:
df

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,63,54.0,102.0,144.0,21.0,2.0,90.0,132.0,103.0
152,Tanzania,153,122,78.0,50.0,131.0,78.0,34.0,49.0,125.0,118.0
153,Afghanistan,154,25,152.0,133.0,151.0,155.0,136.0,137.0,134.0,139.0
154,Central African Republic,155,117,132.0,153.0,155.0,133.0,122.0,113.0,152.0,150.0
155,South Sudan,156,140,127.0,152.0,148.0,154.0,61.0,85.0,140.0,143.0

In [11]:
df.isna().sum()

Country (region)            0
Ladder                      0
SD of Ladder                0
Positive affect             1
Negative affect             1
Social support              1
Freedom                     1
Corruption                  8
Generosity                  1
Log of GDP\nper capita      4
Healthy life\nexpectancy    6
dtype: int64

In [ ]:
for col in df.columns

In [10]:
df.describe

<bound method NDFrame.describe of              Country (region)  Ladder  SD of Ladder  Positive affect  \
0                     Finland       1             4             41.0
1                     Denmark       2            13             24.0
2                      Norway       3             8             16.0
3                     Iceland       4             9              3.0
4                 Netherlands       5             1             12.0
..                        ...     ...           ...              ...
151                    Rwanda     152            63             54.0
152                  Tanzania     153           122             78.0
153               Afghanistan     154            25            152.0
154  Central African Republic     155           117            132.0
155               South Sudan     156           140            127.0

     Negative affect  Social support  Freedom  Corruption  Generosity  \
0               10.0             2.0      5.0         4.0        47.0
1               26.0             4.0      6.0         3.0        22.0
2               29.0             3.0      3.0         8.0        11.0
3                3.0             1.0      7.0        45.0         3.0
4               25.0            15.0     19.0        12.0         7.0
..               ...             ...      ...         ...         ...
151            102.0           144.0     21.0         2.0        90.0
152             50.0           131.0     78.0        34.0        49.0
153            133.0           151.0    155.0       136.0       137.0
154            153.0           155.0    133.0       122.0       113.0
155            152.0           148.0    154.0        61.0        85.0

     Log of GDP\nper capita  Healthy life\nexpectancy
0                      22.0                      27.0
1                      14.0                      23.0
2                       7.0                      12.0
3                      15.0                      13.0
4                      12.0                      18.0
..                      ...                       ...
151                   132.0                     103.0
152                   125.0                     118.0
153                   134.0                     139.0
154                   152.0                     150.0
155                   140.0                     143.0

[156 rows x 11 columns]>